#wrap {
  min-width: 20rem; }

.header {
  position: relative;
  width: 100%;
  z-index: 10000; }

#pcHeader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 4.040404040vw;
  font-size: 0.757575758vw;
  background: #fff;
  color: #5E5E5E; }
  #pcHeader .logo {
    float: left; }
    #pcHeader .logo a {
      display: block;
      width: 10.101010101vw;
      height: 2.020202020vw;
      margin-top: 0.757575758vw;
      line-height: 4.040404040vw; }
  #pcHeader .dep1 {
    float: right;
    text-align: center; }
    #pcHeader .dep1 > li {
      position: relative;
      width: 6.565656566vw;
      height: 4.040404040vw;
      line-height: 4.040404040vw;
      float: left; }
      #pcHeader .dep1 > li > a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.151515152vw;
        background: #FCE9DB; }
      #pcHeader .dep1 > li > a:hover::after, #pcHeader .dep1 > li > a:focus::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.151515152vw;
        background: #FCE9DB;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s; }
    #pcHeader .dep1 .active > a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.151515152vw;
      background: #FCE9DB;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s;
      -o-transition: width 0.5s;
      transition: width 0.5s; }
    #pcHeader .dep1 .dep2 li {
      width: 6.565656566vw;
      font-size: 0.757575758vw;
      text-align: center; }
      #pcHeader .dep1 .dep2 li a {
        position: relative; }
        #pcHeader .dep1 .dep2 li a:hover, #pcHeader .dep1 .dep2 li a:focus {
          color: #482428;
          border-bottom: 0.0625rem solid #482428; }
        #pcHeader .dep1 .dep2 li a + li {
          padding-top: -1.262626263vw; }
  #pcHeader #pcGnb {
    padding: 0 15.151515152vw; }
  #pcHeader #pcGnb.on {
    background: #fff;
    height: 20.202020202vw;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #pcHeader #pcGnb.on::before {
      content: "";
      position: absolute;
      top: 4.040404040vw;
      left: 0;
      width: 100%;
      height: 0.050505051vw;
      background: #FCE9DB; }

#mHeader {
  display: none; }

footer {
  background: #C99789;
  color: #fff;
  padding: 0 14.141414141vw;
  font-size: 0.757575758vw;
  width: 100vw;
  height: 7.575757576vw;
  float: left;
  margin-top: 4.040404040vw; }
  footer img {
    width: 9.090909091vw;
    height: 1.515151515vw;
    margin-top: 3.030303030vw; }
  footer p {
    display: inline-block;
    line-height: 7.575757576vw;
    margin-left: 2.777777778vw; }
  footer ul {
    display: inline-block;
    margin-left: 20.202020202vw; }
    footer ul li {
      display: inline-block; }
      footer ul li + li {
        margin-left: 3.535353535vw; }

@media screen and (max-width: 1023px) {
  #pcHeader {
    display: none; }

  #mHeader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: 100%;
    height: 3.063rem; }
    #mHeader .on_top .line {
      position: absolute; }
    #mHeader .on_top .btn_menu {
      position: absolute;
      top: 1.125rem;
      right: 1.25rem;
      width: 1.25rem;
      height: 1.313rem;
      overflow: hidden;
      z-index: 1100; }
      #mHeader .on_top .btn_menu .line {
        width: 100%;
        height: 0.0625rem;
        background: #ffffff;
        left: 0; }
      #mHeader .on_top .btn_menu .top {
        top: 0; }
      #mHeader .on_top .btn_menu .mid {
        top: 0.5rem; }
      #mHeader .on_top .btn_menu .btm {
        top: 1rem; }
    #mHeader .on_top .btn_menu.open .line {
      background: #fff !important;
      height: 0.0625rem; }
    #mHeader .on_top .btn_menu.open .top {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      top: 0.375rem;
      width: 0.3125rem;
      left: 1rem; }
    #mHeader .on_top .btn_menu.open .btm {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      top: 0.625rem;
      width: 0.25rem;
      left: 1rem; }
    #mHeader .on_top .logo {
      width: 1.875rem;
      height: 2.188rem;
      margin-top: 0.625rem;
      margin-left: 0.9375rem; }
    #mHeader .mgnb_wrap {
      position: fixed;
      top: 0;
      right: -100%;
      display: none;
      width: 100%;
      height: 100%;
      padding: 0 1.875rem;
      background: #C99789;
      color: #fff;
      overflow: auto; }
      #mHeader .mgnb_wrap .dep1 {
        font-family: Cinzel;
        font-size: 1.25rem;
        padding: 6.25rem 1.875rem; }
        #mHeader .mgnb_wrap .dep1 > li {
          position: relative; }
          #mHeader .mgnb_wrap .dep1 > li + li {
            margin-top: 6.25rem; }
          #mHeader .mgnb_wrap .dep1 > li > a::after {
            content: "";
            display: inline-block;
            background-image: url("../images/common/m_nav_arrow.svg");
            width: 5.5556vw;
            height: 5.5556vw;
            position: absolute;
            top: 0;
            right: -0.9375rem; }
          #mHeader .mgnb_wrap .dep1 > li.on a::after {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s; }
          #mHeader .mgnb_wrap .dep1 > li:nth-child(2) > a::after {
            background: none; }
        #mHeader .mgnb_wrap .dep1 .dep2 {
          font-family: NtSansKR;
          font-size: 0.9375rem;
          padding: 0 1.875rem;
          padding-top: 3.125rem; }
          #mHeader .mgnb_wrap .dep1 .dep2 li + li {
            margin-top: 2.5rem; }

  #mHeader.bg_change {
    background: #C99789; }

  footer {
    height: 34.38rem;
    padding: 0 3.125rem;
    position: relative;
    margin-top: 0; }
    footer img {
      margin-top: 35%;
      width: 11.25rem;
      height: 1.875rem; }
    footer p {
      margin-left: 0;
      font-size: 0.8125rem;
      position: absolute;
      bottom: 20%;
      left: 3.125rem; }
    footer ul {
      margin-left: 0;
      margin-top: 4.375rem; }
      footer ul li {
        display: block;
        font-size: 0.8125rem;
        margin-top: 1.75rem; }
        footer ul li + li {
          margin-left: 0; } }

/*# sourceMappingURL=layout.css.map */
